version: '3.9'

services:
    postgres:
        image: postgres
        environment:
            POSTGRES_DB: root
            POSTGRES_USER: root
            POSTGRES_PASSWORD: root
        ports:
            - '5432:5432'
    web:
        image: natalgrython/lombard:latest
        ports:
            - '3000:3000'
        links:
            - postgres
        depends_on:
            - postgres
