.content-wrapper {
    width: 100%;

    .image {
        width: 100%;
        height: 84vh;
    }

    .main {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 96px;
        line-height: 96.5%;
        position: absolute;
        letter-spacing: 2px;
        white-space: break-spaces;
        user-select: none;
        color: white;
        top: 326px;
        left: 114px;
        width: 848px;
    }
    .button {
        background: #ffffff;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        border-radius: 50px;
        position: absolute;
        width: 221px;
        height: 62px;
        top: 800px;
        left: 114px;
        .span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            user-select: none;
        }
    }
    .slider__menu {
        position: absolute;
        top: 750px;
        right: 120px;
        width: 602px;
        height: 164px;
        background: #f5f5f5;
        .slider__wraper {
            padding-left: 109px;
            padding-top: 33px;
            padding-right: 90px;
            padding-bottom: 38px;
            display: flex;
            flex-direction: column;

            .count {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                user-select: none;
                color: rgba(28, 28, 28, 0.5);
            }
            .name_container {
                padding-top: 10px;
                .name {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 27px;
                    line-height: 140.4%;
                    user-select: none;
                    color: #1c1c1c;
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .bullet_container {
                padding-top: 25px;
                display: flex;
                gap: 31px;
            }
        }
    }
}
