name: 'Push'
on:
    push:

jobs:
    ci:
        runs-on: ubuntu-20.04
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              name: 'setup node'
              with:
                  node-version: '13.x'

            - name: 'client'
              run: cd client && npm ci
            - name: 'server'
              run: cd ../server && npm ci
